<p style="float: left;">
	<%= link_to image_tag("http://image.tmdb.org/t/p/w300#{movie_meta.poster}", size: '150x225'), movie_meta.homepage, target: "_blank" %>
</p>
<p class='info'>
	<strong>Revenue: </strong>
	<%= number_to_currency(movie_meta.revenue, precision: 0) %> <br>
	<strong>Budget: </strong>
	<%= number_to_currency(movie_meta.budget, precision: 0) %> <br>
	<strong>Estimated Income: </strong>
	<%= number_to_currency(movie_meta.revenue-movie_meta.budget, precision: 0) %> <br>
	<strong>Length: </strong>
	<%= distance_of_time_in_words(movie_meta.length.minutes) %> <br>
	<strong>Popularity: </strong>
	<%= movie_meta.popularity.round(0) %>/10 <br>
	<strong>Release Date: </strong>
	<%= movie_meta.release_date %>
</p>
<div style="clear: both;"></div>
<p style="width: 400px;">
	<% if movie_meta.tagline.length > 0 %>
	"<i><%= movie_meta.tagline %></i>"
	<br><br>
	<% end %>
	<%=movie_meta.description %>
</p>